body {
    &.fixed {
        position: static !important;
        width: 100%;
        height: 100%;
        overflow: hidden !important;
        overflow-y: hidden !important;
        margin: 0;
        padding: 0;
    }
}

// 最外圍預設為100%
.wrapper {
    width: 100%;
    margin: 0px auto;
    background: $colorBg;
    @include screen('mobile') {
        overflow: hidden;
        overflow-y: auto;
    }
}

//menu
.mainMenu {
    background: $colorLight;
    &>ul {
        &>li {
            &>a {
                padding: .5em 2em;
            }
        }
    }
    &.sticky {
        background: $colorLight;
        &>ul {
            justify-content: center;
        }
    }
    @include screen('mobile') {
        display: none;
    }
}

//footer
footer {
    max-width: $containerMax;
    margin: 0 auto;
    .container {
        padding: 30px 50px 15px;
    }
    .footerBottom {
        background: linear-gradient(180deg, $colorSecondary 31.25%, $colorPrimary 100%);
        .container {
            padding: 5px 50px;
        }
    }
}

// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
    padding: 0 50px;
    margin: 0 auto;
    max-width: $containerMax; //請看_variable.scss
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    @include screen('mobile') {
        padding: 0 15px;
    }
}

.main {
    position: relative;
    margin: 0 auto;
    padding-top: 0;
    @include screen('mobile') {
        padding-top: 60px;
    }
    &:before {
        content: none;
    }
    .container {
        background: #fff;
    }
    // 可先設定一個中央區塊最大寬，限制accessKey對齊
    h2 {
        line-height: 1.25em;
    }
    .accessKey {
        top: 0;
    }
}

.cp {
    .lpAlbum,
    .lpList {
        .thumbnail {
            flex-basis: calc(33.33333% - 1em);
            @include screen('mobile') {
                flex-basis: 100%;
            }
            .imgContainer {
                @include aspectRatio(3, 2);
            }
            a {
                color: $colorWord;
                &:hover {
                    color: $aHover;
                }
            }
            .title {
                font-size: 1.25em;
            }
        }
    }
}